<tr>
  <td style="
    padding-bottom: 24px;
    border-bottom: 1px solid #c6c6c6;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="
          padding-bottom: 24px;">
          <p style="
                                      margin: 0;
                                      font-size: 18px;
                                      line-height: 25px;
                                      font-weight: 400;
                                      color: #727272;">
            We have a special gift just for you, so that you can see the advantages Octo Browser brings to your work for
            yourself:
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="
          padding-bottom: 24px;">
          <b style="
                                      margin: 0;
                                      font-size: 18px;
                                      line-height: 25px;
                                      font-weight: 700;
                                      color: #727272;">
            7 days of BASE subscription for free!
          </b>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="
          padding-bottom: 24px;">
          <p style="
                                              margin: 0;
                                              font-size: 18px;
                                              line-height: 25px;
                                              font-weight: 400;
                                              color: #727272;">
            Promo code: <b style="
                                              font-weight: 700;
                                              color: #000000;">TRYOCTOBRO</b> <br />Use the promo code with the first
            browser login or in your personal account. <br />
            If you’re unsure how to apply the promo code, you can consult our <a href="#" title="#" target="_blank"
              rel="noopener" style="color: #1890ff; text-decoration: none">Knowledge Base</a> to see how you can do
            that.Try Octo Browser today for free!
          </p>
        </td>
      </tr>
      <!-- Button/link section -->
      <tr>
        <td class="main-block__wrap" style="
          padding-bottom: 24px;">
          <table border="0" cellspacing="0" cellpadding="0" role="presentation">
            <tr>
              <td class=" btn" style="
                  background: #1890ff;
                  text-align: center;
                  border-radius: 4px;">
                <a href="#" title="Ссылка на " target="_blank" rel="noopener" style="
                    text-align: center;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 700;
                    color: #ffffff;
                    background: #1890ff;
                    border: 1px solid #1890ff;
                    padding: 10px 20px;
                    text-decoration: none;
                    display: inline-block;
                    border-radius: 4px;">
                  &nbsp;Try Octo Browser&nbsp;
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Button/link section -->
      <tr>
        <td class="main-block__wrap">
          <p style="
                                                    margin: 0;
                                                    font-size: 14px;
                                                    line-height: 17px;
                                                    font-weight: 400;
                                                    color: #727272;">
            The promo code is available only to new users without an active subscription, or users whose subscription
            has been
            inactive for over 60 days.If you experience any difficulties applying the promo code, please contact our
            technical
            support using the support widget in Octo Browser.
          </p>
        </td>
      </tr>
      <!-- End Text section -->

    </table>
  </td>
</tr>
